

.my-test-nui {
    width: 220px;
    height: 90px;
    position: fixed;
    top: 3.2vh;
    right: 1vw;
    background-color: white;
    border: 2px solid black;
    opacity: 85%;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1s;
}

.hidden {
    right: -8.4vw;
}

.main-title {
    color: black;
    margin: 0.4rem;
    font-size: 1.2rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
}

.open-admin-panel{
    margin: auto;
    width: 33vw;
    height: 60vh;
    border: 5px solid rgba(141, 125, 250, 0.7);
    border-radius: 1rem;
    background-color: rgba(141, 125, 220, 0.4);
}
